# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files and dependencies
.env
venv/
.venv/
Pipfile
Pipfile.lock
poetry.lock

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore logs and temp files
*.log
logs/
*.sqlite3
*.db

# Ignore IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.swn

# Ignore OS-specific files
.DS_Store
Thumbs.db
